<div *ngIf="pageLoaded | async">
  <mat-card>
    <mat-card-header>
      <mat-card-title id="pokemon-title">
        {{ details.name | titlecase }}
      </mat-card-title>
      <div class="flex-spacer"></div>
      <h2 id="pokemon-nr">#{{ details.id }}</h2>
    </mat-card-header>
    <mat-card-content class="pokemon-type-content">
      <div id="stats-image-container">
        <div id="pokemon-image-container">
          <img id="pokemon-image" src="{{ details.sprites.front_default }}" />
        </div>
        <div id="pokemon-stats-container">
          <div id="type-chip-list">
            <mat-chip-list>
              <mat-chip
                *ngFor="let type of details.types"
                [ngStyle]="{
                  color: 'whitesmoke',
                  'background-color': '#' + getTypeColor(type)
                }"
              >
                {{ type.type.name | titlecase }}
              </mat-chip>
            </mat-chip-list>
          </div>
          <table id="stats-table">
            <tr *ngFor="let stat of getSimpleStats(details.stats)">
              <td class="stat-label-cell">
                <h2 class="stat-label">{{ stat.name | titlecase }}</h2>
              </td>
              <td class="stat-progress-bar-cell">
                <h3 class="stat-progress-bar-value">{{ stat.value }}</h3>
                <div class="stat-progress-bar-background">
                  <div
                    class="stat-progress-bar-foreground"
                    [ngStyle]="{
                      'background-color': '#' + getMainTypeColor(),
                      width: getProgressBarWidth(stat.value)
                    }"
                  ></div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div>
        <h4>
          <b>{{ typeText | async }}</b>
        </h4>
        <p>{{ flavorText | async }}</p>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-template #detailsAreNull>
    <p>Details are null for some reason</p>
  </ng-template>
</div>
