#pokemon-title
{
  margin-top: 7px;
}

.pokemon-type-content
{
  margin-left: 12px;
}

#pokemon-nr
{
  float : right;
}

#stats-image-container
{
  display: flex;
}

#pokemon-image-container
{
  flex : 0 0 15%;
}

#pokemon-image
{
  width: 100%;
}

#pokemon-stats-container
{
  flex: 1;
}

#type-chip-list
{
  margin-bottom: 15px;
}

#stats-table
{
  width: 60%;
}

.stat-label-cell
{
  width: 30%;
}

.stat-label
{
  margin: auto;
}

.stats-progress-bar-cell
{
  width:100%
}

.stat-progress-bar
{  
  height: 25px;  
  margin-left: 20px;
}

.stat-progress-bar-value
{
  position: absolute;
  margin: 0 0 0 30px;
  z-index: 1;
  color: whitesmoke;
}