<div class="pokemon-list" *ngIf="hasListLoaded | async;else listIsLoading">
  <mat-grid-list cols="7" rowHeight="1:1" gutterSize="10px">
    <mat-grid-tile class="pokemon-list-item hover-popup-shadow"
      *ngFor="let mon of pokemonItems | async"
      [colspan]="1"
      [rowspan]="1">
      <img alt="pokemon image" src="{{mon.imageUrl}}"/>
      <mat-grid-tile-footer>{{mon.name | titlecase}}</mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="list-nav-buttons">
    <a mat-button (click)="getPrevPage()" [disabled]="!hasPrevPage()">Previous</a>
    <a mat-button (click)="getNextPage()" [disabled]="!hasNextPage()">Next</a>
  </div>
</div>
<ng-template #listIsLoading>
Loading...
</ng-template>