.pokemon-list
{
  padding-bottom: 50px;
}

.pokemon-list-item
{
  border-radius: 5px;
  border: 2px;
  border-color: lightgray;
  border-style: solid;
}

.pokemon-list-item:hover
{
  cursor: pointer
}

.list-nav-buttons
{
  padding-top: 20px;
  padding-bottom: 20px;
  float: right;
}