<mat-card>
  <mat-card-header>
    <mat-card-title>Evolutions</mat-card-title>
  </mat-card-header>
  <mat-card-content id="evolution-content" *ngIf="componentLoaded | async">
    <div id="evolve-images-container">
      <img class="evolution-image" src="{{details.sprites.front_default}}">
      <mat-icon class="evolution-image" [ngStyle]="{'color' : '#' + getTypeColor()}">keyboard_arrow_right</mat-icon>
      <img class="evolution-image" src="{{(evolutionInfo | async)!.evolvesIntoImageUrl}}">            
      <p>{{details.name | titlecase}} evolves into {{(evolutionInfo | async)!.evolvesInto | titlecase}} <b>at level {{(evolutionInfo | async)!.evolvesAtLevel}}</b></p>
    </div>
  </mat-card-content>
</mat-card>
<!--TODO: PokemonDetails needs to make all these requests and then pass them to children-->